<h5>Turmas</h5>
<p>Detalhes das turmas</p>

<table *ngFor="let t of turmas" class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th>Número</th>
      <th>Professor</th>
      <th>Curso</th>
      <th>Total de Alunos</th>


    </tr>
  </thead>
  <tbody>
    <tr>



      <td>{{t.idTurma}}</td>
      <td>{{t.professor.nome}}</td>
      <td>{{t.curso.nome}}</td>
      <td>{{t.alunos.length}}</td>




    </tr>
    <tr *ngIf="t.alunos.length > 0">
      <td colspan=" 6"><b>Alunos matriculados:</b> <br> <span *ngFor="let a of t.alunos">- {{a.nome}} </span></td>
    </tr>


  </tbody>
  <tfoot>


    <!-- <tr>
      <td colspan=" 6">
        <button class="btn btn-dark btn-sm" (click)="relatorio()">Relatorio em PDF</button>
      </td>

    </tr> -->
  </tfoot>
</table>
